.cover-img {
    width: 100%;
    height: 140px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.amount-block-bottom {
    position: absolute;
    bottom: calc(12px + env(safe-area-inset-bottom));
    width: calc(100% - 24px);
    background-color: var(--background_content);
}

.amount-block-bottom .Progress__in {
    background: var(--button_commerce_background)!important;
}
